<div ng-controller="CompanyEditController">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">公司名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="name" placeholder="请输入公司名称">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">公司描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="description"
                       placeholder="请输入公司描述">
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">公司规模</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="size"
                       placeholder="请输入公司规模">
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">服务行业</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="industry"
                       placeholder="请输入服务行业">
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">成立时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="build"
                       placeholder="请输入成立时间">
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">注册资本</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="captial"
                       placeholder="请输入注册资本">
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="address" ng-change="SearchAddress()" placeholder="请输入地址">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="address in AddressList">{{address.name}}<span class="text-muted" style="padding-left:5px;font-size:5px">{{address.address}}</span></li>
                    </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" ng-click="Save()">保存</button>
            </div>
        </div>
    </form>
</div>