<script src="../Scripts/echarts1.js" type="text/javascript"></script>
<div ng-controller="CompanyCompareController">
    <table>
        <tr>
            <td ng-repeat="x in Infos"><input id="ck{{x.Id}}" type="checkbox" ng-model="x.Id" ng-click="Select(x.Id)" value="{{x.Id}}" />{{x.CompanyName}}</td>
        </tr>
        <tr>
            <td><input type="button" value="税前工资" ng-click="Compare('BeforeTaxSalaryCompare')" /></td>
            <td><input type="button" value="税后工资" ng-click="Compare('AfterTaxSalaryCompare')" /></td>
        </tr>
        <tr>开始比较</tr>
        <tr>
            <td>
                <div id="salaryPie1" style="width:800px;height: 400px;margin-top:100px;margin-left: 300px;">

                </div>
            </td>
        </tr>
    </table>
</div>